includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
  level: 6
  paths:
    - aidev-plugin-starter
  excludePaths:
    - tests/*
    - vendor/*
  checkMissingIterableValueType: false
