includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
  level: 6
  paths:
    - aidev-plugin-starter
  excludePaths:
    - tests/*
    - vendor/*
  # Wenn du fehlende Array-Typen ignorieren willst, nutze identifier:
  # ignoreErrors:
  #   - identifier: missingType.iterableValue